

h2.brand {
    font-weight:lighter;
    font-size: 40px;
}

h2.brand a{
    text-decoration: none;
    font-weight: bold;
    color: teal;
}


h3{
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
}

@keyframes borderPulse {
  0% { border-color: white; }
  40% { border-color: teal; }
  80% { border-color: rgb(62, 200, 200); }
}